<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Lab 4 & 6</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input v-model="message" placeholder="Write something"> <button @click="addList">Add to List</button> <button @click="removeList">Remove Top Item</button>
    <br>

    <ol>
        <li v-for="(item, index) in todoList"> {{item.text}} <button @click="removeIndex(index)">Delete item</button></li>
    </ol>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data:{
      id: 0,
      message: '',
      todoList:[]
    },
    methods: {
      addList: function(){
        this.id++;
        this.todoList.push({id: this.id, text: this.message});
      },
      removeList: function(){
        this.todoList.shift();
      },
      removeIndex: function(index){
        this.todoList.splice(index, 1);
      }
    }

  })

</script>
</body>
</html>